select#articulo {
    max-width: 500px;
}
#tabla_datos>tbody>tr>th {
    padding: 3px !important;   
}
th.sorting {
    text-align: center;
}
input[type="text"] {
		/*width: 55px;*/
}
#tabla_datos > td{
	text-align: center;
}
.botones h3 {
    width: 80px;
    max-width: 80px;
    float: left;
}
.nuevaLineatd{
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border: 1px solid #ddd;
}
span.error{
    font-weight: bold;
    color: red;
}
.no_seleccionado{ 
	border: 2px solid red;	
}
button#eliminar {
    padding: 6px;
	margin-top: 0px;
}
button#incremento {
    font-size: large;
}
input[type="number"]{
		width: 58px;
}
.volatil{
	position: fixed; 
    z-index: 3;	
}
.bokeh {
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
    z-index: 2147483647;
}
.bokeh li {
    border-radius: 50%;
    height: 0.2em;
    position: absolute;
    width: 0.2em;
}
.bokeh li:nth-child(1) {
    animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
    background: #00c176 none repeat scroll 0 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    top: 0;
    transform-origin: 50% 250% 0;
}
.bokeh li:nth-child(2) {
    animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
    background: #ff003c none repeat scroll 0 0;
    margin: -0.1em 0 0;
    right: 0;
    top: 50%;
    transform-origin: -150% 50% 0;
}
.bokeh li:nth-child(3) {
    animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
    background: #fabe28 none repeat scroll 0 0;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    transform-origin: 50% -150% 0;
}
.bokeh li:nth-child(4) {
    animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
    background: #88c100 none repeat scroll 0 0;
    margin: -0.1em 0 0;
    top: 50%;
    transform-origin: -250% 50% 0;
}
@keyframes opa {
12% {
    opacity: 0.8;
}
19.5% {
    opacity: 0.88;
}
37.2% {
    opacity: 0.64;
}
40.5% {
    opacity: 0.52;
}
52.7% {
    opacity: 0.69;
}
60.2% {
    opacity: 0.6;
}
66.6% {
    opacity: 0.52;
}
70% {
    opacity: 0.63;
}
79.9% {
    opacity: 0.6;
}
84.2% {
    opacity: 0.75;
}
91% {
    opacity: 0.87;
}
}

@keyframes rota {
100% {
    transform: rotate(360deg);
}
}
.btn-lg { 
    font-size: 14px !important;
}
/* Presupuestos_anuales*/
div#div_filtros_cabecera {
    position: fixed;
	z-index: 5;
}
div#filtros_cabecera {    
    width: 110%;
    position: fixed;
    z-index: 10;
    top: 0px;
    background-color: white;
}
.botones {
    padding-top: 30px;
} 

/* Main */
table{
	width: 900px;
}
#formulario_anadir fieldset{
	border: 2px solid black;
	margin-bottom: 10px;
}
#formulario_anadir legend{
	text-align: center;
	border-bottom: white;
}
@media screen and (max-width: 1000px){
    
	.container.menu2 {
       margin: 15% 20%;
	}
	.boton{					
		min-width: 350px;
		height: 100px;
		font-size: xx-large !important;
		/*padding-top: 15px;*/
		padding: 25px !important;
		margin-top: 45px;
		margin-left: -25%;
		margin-bottom: 12% !important; 
	}
	.row.parte_arriba {    
		margin-left: 15% !important; 
	}
	a#datos {
		width: 600px;    
		margin-left: 1px;
	}
	.modal-dialog {
		margin-top: 40%;	
		width: 600px;
		margin: 40% auto !important;
	}
	
	.botonModal {
		width: 250px;
		height: 90px;
		margin-top: 10%;
		margin-bottom: 33% !important;
		margin-left: -1px;
		font-size: xx-large !important;
	}
	.modal-body {
		height: 350px;
		max-height: 350px;
		/*min-height: 160px;*/
	}
	.modal-header {    
		text-align: center;
	}
	h3.modal-title {
		font-size: -webkit-xxx-large;
	}
	.modal-footer .btn-danger {
		width: 120px;
		height: 60px;
		font-size: xx-large;
		margin-left: -150px !important;
	}		
	fieldset.conte {
		width: 75% !important;    
		margin: 15% 5% !important;
	}	
	fieldset.editar_info {
        margin: 30% 15% !important;
	}
	button#guardar {
		margin-left: 85%;
		padding: 1%;
		width: 120px;
		font-size: x-large;
	}
	select#idgenerico {
		width: 400px;
	}
	input#simbolo, #cambio {
		width: 120px;
		margin-right: 50px;
	}
	input#cambio {
		margin-left: 50px;
	}
	select#articulo {   
		width: 200px;
		z-index: 5;
	}
	div#filtros_cabecera {
		margin-left: 5px;
		margin-top: -15px;
	}
	#filtros_cabecera h3 {
		font-size: initial;
		font-weight: bold;
	}
	.botones {
		margin-top: 10px;
		padding: 0px !important;
	}
	div#mostrar_datos {
		margin-top: 25%;
	}
	table#tabla_dastos {
		width: 100% !important;
		margin-top: 10px;
	}
	#filtros_cabecera .arti, #filtros_cabecera .desde{
		margin-top: -10px;
	}
	#formulario_anadir select {
		max-width: 120px;
		z-index: 3;
	} 
	#formulario_anadir fieldset{
		/*border: 2px solid black;*/
		padding-right: 18px;
	}
	#formulario_anadir legend{	
		padding: 1px;
		margin-bottom: 20px;
		font-size: 21px;
		color: #333;
		/*border: 2px solid black;*/
		width: auto;
	}
	#formulario_anadir #cambio{
		margin-left: 0px;
	}
	form#formulario_anadir{
		zoom: 2;	
		font-size: medium;
		margin-left: 10px;
		margin-right: 10px;
	}
	#formulario_anadir button {
		margin-top: 20px;
		font-size: medium;
		font-weight: bold;
	}
	.fechaOpcional {
		margin-left: 10px;
	}
	.main_formulario {   
		margin-top: 130px;
	}	
	img.panel-image-preview {
		max-width: 100%;
	}
	.contai {
		width: auto !important;
	}
	#supermercado .col-sm-6 {    
		position: relative;
	}
	.html_main{
		transform: scale(0.7);
		margin-left: -65px;
	}
	.circle-2 {    
		height: 255px !important;   
		top: -55px !important;    
	}
	.modal_reconfig{
		height: 160px !important;
	}
	.zoom{
		width: 120%;
	}	
	input#fecha_pone_Usuario {
		width: 100;
	}
	input#hora_pone_Usuario {
		width: 85px;
		margin-left: 10px;
	}
	/*.no_seleccionado{  NO SE XQ LO PUSE!!!
		position: fixed;
	}*/
	.modal-dialog2 {
		margin-top: 40%;		
		margin: 20% auto !important;
	}
	.modal-dialog2 .modal-footer .btn-danger {
		width: 90px;
		height: 45px;
	}
	.modal-dialog3{
		margin-top: 40%;		
		margin: 8% auto !important;
	}
	.modal-body3{
		min-height: 450px; 		
	}
	fieldset select#Idgente {
		margin-bottom: 15px;
	}
	.fotos input {
		max-width: 120px;
	}
	#iddirec{
		max-width: 150px;
	}
	textarea#direccion {
		width: 150px;
	}	
	.btn-danger {    
		margin-top: 170px;
	}	
}
@media screen and (min-width: 1000px){
	
	
	.boton{		
		min-width: 200px;
		height: 40px;		
		margin-top: 20px;	
		font-size: larger !important;
	}
	.row.parte_arriba {    
		margin-left: -55px !important;
		padding: 0px !important;
	}
	fieldset.conte {
		width: 75% !important;    
		margin: 10% 30%;
	}
	h2.fs-title {   
		margin-right: 50%;
		font-weight: bold;
	}
	button#guardar {
		padding: 1%;
		width: 120px;
		font-size: x-large;
	}
	/*select#IdPaises {
		font-size: large;
	}*/
	table#tabla_dastos {
		margin-top: 10px;
	}
	.modal-body {   
		height: 70px;
	}
	.modal-header {    
		text-align: center;
	}
	div#supermercado button, .modal-footer button {
		width: 100px;
		height: 38px;
		font-weight: bold;
	}
	.panel-image-preview{
		/*max-width: 552px;*/	
		max-width: 358px;
		max-height: 300;
	}
	.modal_reconfig{
		height: 70px !important;
	}
	select#idpercepcion {
		max-width: 300px;
	}
	#idPaises,select#idproveedor,#iddirec {
		max-width: 250px;
	}
	#formulario_anadir fieldset {		
		width: 99%;
		margin-left: 0.5%;
	}
	#formulario_anadir legend {
		text-align: center;
		padding: 0;
		margin-bottom: 20px;
		font-size: 21px;
		color: #333;
		width: auto;
	}
	textarea#direccion {
		margin-bottom: 10px;
	}
	.fotos input {
		width: initial !important;
	}
}
/*optgroup {
    background-color: rgba(196, 35, 127, 0.7);
}*/
optgroup option {
    background-color: white;
}
select#iddirec optgroup {
    background-color: rgba(196, 35, 127, 0.7);
}
.icono {
   /* background-color: blanchedalmond;*/
	margin-left: 4px !important;
	color: blue;
}
h1{
		font-family: serif;
		text-align: center;
	}
.margenes{
		margin-left: 100%;
	}
table#anadir_formu {
    font-size: xx-large;
}
#msform [type="text"] {
   /* height: 60px;*/
    font-size: x-large;
}
input#Supermercado {   
    width: 200;
}
.editar{
	width: auto !important;
}
td.boton_accion {
    /*text-align: -webkit-center !important;*/
}
.boton_accion #acciones {
    margin-left: 30%;
}
fieldset.editar_info {
    width: 0px;
    margin: 20% 35%;
    background-color: rgba(202, 190, 190, 0.26);
    font-size: xx-large;
}
input#nombre {
    width: 75%;
}
table#ver_formu * {
    font-weight: bold;
}
button#modificar2 {
    margin-left: 5%;
    width: 120px;
    height: 40px;
    background-color: #b4a3c7;
    border-radius: 8px;
	font-size: large;
	cursor: pointer;
}
button#acciones{
    width: 75px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#botones{
	width: 800px;
}
#botones .btn,.nuevo {
		padding: 1% !important;
		margin-right: 10%;
		width: 15%;
	}

a#datos {
    box-shadow: 10px 10px 5px rgba(54, 119, 138, 0.86);
}
a#calidad,a#proveedor,a#supermercado {
    background-color: #fffcfa;
    border-color: #848788;
    color: black;
    box-shadow: 10px 10px 5px #888888;
}
/*a#calidad {
    background-color: #fffcfa;
    border-color: #ea7b08;
    color: black;
    box-shadow: -10px 10px 5px #bf7931;
}*/

a#articulo,a#percepcion,a#moneda {
    background-color: rgba(107, 103, 103, 0.20);
    color: black;
    box-shadow: 10px 10px 5px #888888;
	border-color: gainsboro;
}
.main{
	border: 2px solid #c4237f;
    width: auto;
    box-shadow: 10px 10px 5px #888888;
	min-width: 400px;
}
.tablaAcciones td {
    font-family: monospace;
    font-size: larger;
    padding: 5px;
}
.imagen_main {
    padding: 0px 85px 55px;
}
.entrar{
	width: 120px;
    margin: 0px 100px 15px;
}
select#campana {
    margin-left: 10px;
}
.row.parte_arriba {
    font-family: monospace;
    font-size: larger;
    padding: 15px 40px 30px;
	margin-top: 30px;
}
.parte_abajo{
	padding-top: 30px;
    margin-left: -20px;
}

a.loading{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
animation: 2s linear 0s normal none infinite progress-bar-stripes;
-webkit-animation: progress-bar-stripes 2s linear infinite;
}
a#informes {
    color: white;   
    background-color: #bf7636;
	border-color: #af7610;
}
a#planificacion {
    background-color: #484646;
    color: white;
	border-color: #383535;
}
a#planificacion:hover {
    background-color: #3c3939;
    color: white;   
}
a#informes:hover {
    color: white;   
    background-color: #b55e13;
}
/*  Main */
.no_seleccionado_gordo{
	 border: 4px solid red;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);


svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.pequen {
    display: block;
    font: 10.5em 'Montserrat';
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 4px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}
.text-copy2 {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 4px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1),.text-copy2:nth-child(1){
    stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2),.text-copy2:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3),.text-copy2:nth-child(3){
	stroke: #c4237f;
	animation-delay: -3s;
}

.text-copy:nth-child(4),.text-copy2:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5),.text-copy2:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
/*precio */

/* SLIDE THREE */

.slideThree {
	/*width: 180px;*/
	/*height: 26px;*/
	width: 240px;
    height: 36px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'CATEGORY';
	/*font: 12px/26px Arial, sans-serif;*/
	/*color: #000;*/
	font-size: medium;
	top: 7px;
	color: #00bf00;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'GENERIC';
	/*font: 12px/26px Arial, sans-serif;*/
	font-size: medium;
	top: 7px;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	/*width: 70px;
	height: 20px;*/
	width: 95px;
    height: 30px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	/*left: 103px;*/
	left: 140px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 5px;
}
input#slideThree {
    display: none;
}
/* end .slideThree */
/*table#tabla_dastos {
    width: 80%;
	margin-top: 15px;
}*/
fieldset.conte {
    width: 75% !important;
    margin-left: 25%;
}
table.tablaAcciones {
    width: auto;
}
.wrapper {
    text-align:center;
    font-size:20px;
    color:#fff;
    position:relative;
}

.circle-2 {
    width: 1px;
    height: 200px;
    background: #ce0578;
    position:absolute;
    top:0;
    left:250px;
	margin-top: -90%;
}

.circle {
    line-height:100px;
    width: 100px;
    border-radius:50px;
    height: 100px;
    background: #ce0578;
    position: relative;
    animation: mymove 5s  ease-in-out 2s infinite;
    position:absolute;
    top:100px;
    left:200px;
	margin-top: -90%;
}

input#promo {
    width: 20px;
    height: 20px;    
    margin-left: 20px;
}

input[type=file]{
	width: 200px;
}

/* Chrome, Safari, Opera */
@keyframes line {
    0% { height:100px}
    50% { height:200px}
    100% { height:100px}
}

@keyframes mymove {
    0% { top:100px}
    50% { top:200px}
    100% { top:100px}
}
.DiaHora{	
    width: auto;
}
.informacion{
	color: blue;	
}
.modal-body2 {    
    min-height: 380px;
}
.modal-body2 p{
	font-weight: bold;
}
a[id$=Mensaje] {
    box-shadow: 10px 10px 5px rgba(60, 128, 48, 0.86);
    background-color: #0dc713;
    border-color: #0dc713;
}
a#NuevoMensaje:hover,a#HistorialMensaje:hover {
    background-color: #1eb11e;
    border-color: #1eb11e;
}
a#NuevoMensaje,a#HistorialMensaje {
	box-shadow: 10px 10px 5px rgb(75, 128, 75);
}